:root {
  --anchura: 500px;
  --item: 50px;
}

.exterior {
  margin: auto;
  width: var(--anchura);
  height: var(--anchura);
  background-color: yellow;
  position: relative;
}
.item {
  background-color: red;
  width: var(--item);
  height: var(--item);
  transition-duration: 5s;
}

.supizq {
  position: absolute;
  top: 0%;
  left: 0%;
}
.supder {
  position: absolute;
  top: 0%;
  right: 0%;
}

.infizq {
  position: absolute;
  left: 0%;
  bottom: 0%;
}
.infder {
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.exterior:hover .supizq {
  transform: translateX(calc(var(--anchura) - 100%));
}

.exterior:hover .supder {
  transform: translateY(calc(var(--anchura) - 100%));
}

.exterior:hover .infizq {
  transform: translateY(calc(-500px + 100%));
}

.exterior:hover .infder {
  transform: translateX(calc(-500px + 100%));
}
