div,
p {
  border: 1px dashed lightgray;
  margin: 1px;
  width: 20em;
}

span {
  margin-left: 1em;
}
.separador {
  width: 100%;
  height: 1em;
  border: none;
  background-color: whitesmoke;
}

#segundo {
  border: 1px solid red;
}

td {
  border: 1px solid blue;
}

.rojo {
  color: red;
}

.azul {
  color: blue;
}

.verde {
  color: green;
}

div.verso:not(.verde) {
  text-decoration: underline;
}

.margen-izquierdo {
  margin-left: 2em;
}
