p.fondo {
  font-size: 2.5em;
}
div,
span {
  border: 1px dashed grey;
}
body > div {
  background-color: aliceblue;
}
div > * {
  background-color: lightpink;
}
div > *:not(.fondo) {
  background-color: lightblue;
}
h1 + h2 {
  color: red;
}
h1 ~ h3 {
  color: blue;
}
h3 > span {
  color: olive;
}
div span {
  text-decoration-color: cyan;
  text-decoration-style: wavy;
}
div + div + p {
  background-color: darkmagenta;
  color: khaki;
}
h3 ~ div + div {
  border: 2px solid green;
  border-radius: 10px;
}
