#divInicial {
  border: 1px solid blue;
  background-color: rgb(0, 0, 50);
  color: white;
}
/* Nota: se ejecuta de arriba hacia a bajo, ante un conflicto gana la ultima regala.*/
@media (max-width: 1200px) {
  #divInicial {
    background-color: rgb(0, 0, 100);
  }
}

@media (max-width: 1000px) {
  #divInicial {
    background-color: rgb(0, 0, 150);
  }
}

@media (max-width: 800px) {
  #divInicial {
    background-color: rgb(0, 0, 200);
  }
}

@media (max-width: 600px) {
  #divInicial {
    background-color: rgb(0, 0, 250);
  }
}
@media (min-width: 800px) {
  #divInicial {
    background-color: rgb(255, 255, 255);
  }
}
